<footer class="footer">
	<div class="container">
		<h3>Thank you for playing!</h3>
		<p>Say hi at <a href="mailto:ellekasai@gmail.com">elle.kasai@gmail.com</a> or follow me on:</p>
		<ul class="footer-social-links">
			<li>
				<a href="//github.com/ellekasai/" target="_blank">
					<i class="fa fa-github fa-2x" title="github"></i>
				</a>
			</li>
			<li>
				<a href="//www.linkedin.com/in/ellekasai" target="_blank">
					<i class="fa fa-linkedin-square fa-2x" title="linkedin"></i>
				</a>
			</li>
			<li>
				<a href="//medium.com/@ellekasai" target="_blank">
					<i class="fa fa-medium fa-2x" title="medium"></i>
				</a>
			</li>
			<li>
				<a href="//www.facebook.com/elle.kasai" target="_blank">
					<i class="fa fa-facebook-official fa-2x" title="facebook"></i>
				</a>
			</li>
			<li>
				<a href="//www.youtube.com/channel/UCedPJBdXlrsJMAvV1TEwMFQ" target="_blank">
					<i class="fa fa-youtube-square fa-2x" title="YouTube"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>